<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data</title>
    <style type="text/css">.body { width: auto; }</style>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
  </head>
  <body>
    <h2>Look for active flights...</h2>
    
    <form action="/search" method=GET>
      <label for="fname">Airport:</label><br>
      <input type="text" placeholder="ICAO" id="fname" name="fname"><br>
      <input type="submit" value="Submit">
    </form>





  </body>